.home {
  background-color: #2e66bf;
  width: 100%;
  height: 100%;
}

.containerBox {
  background-color: #152f59;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
    padding-bottom: 7rem;
}
.containerCard {
  text-align: center;
  padding: 1rem;
  margin: 2rem 1rem;
}

.footerDiv {
  background-color: #2e66bfd5;
    position: sticky;
    top: 93%;
    margin-top: 5rem;
    display: flex;
    margin-top: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
