.searchbar_container {
  height: 2.4rem;
  width: 200%;
  display: flex;
  align-items: center;
}

.searchbar {
  height: 100%;
  font-size: 1.3rem;
  border: 2px solid #152f59;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0.5rem;
}

.searchbar_button {
  color: #fff;
  border-radius: 0;
  height: 100%;
  width: 4rem;
  background-color: #152f59;
}

.searchbar_button img {
  max-width: 90%;
}
