.searchbar_container{
  height: 30px;
  width: 200%;
  display: flex;
  align-items: stretch;
}

.searchbar{
  height: 100%;
  font-size: 1.3rem;
  border: 1px solid #152f59;
  border-top: none;
  outline: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.searchbar_button{
  color: #fff;
  border-radius: 0;
  height: 100%;
  width: 4rem;
  background-color: #152f59;
  /* border-top: 2px solid gray; */ 
}

.searchbar_button i{
  font-size: 1.3rem;
}